.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}
.contModal {
  position: relative;
  width: 85%;
  max-width: 500px;
  background-color: rgb(18, 105, 255);
  border-radius: 0.75rem;
}
.contheader {
  width: 100%;
  display: flex;
}

.btnExit {
  position: absolute;

  top: -20px;
  right: -20px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: aliceblue;

  cursor: pointer;
}
.btnExit:after {
  content: '\274c';
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.body {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cardImage {
  width: 100%;
  height: 300px;
  margin-top: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.description {
  padding-right: 1rem;
}
p {
  color: aliceblue;
}

@media screen and (min-width: 784px) {
  .body {
    width: 100%;
    height: 350px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: red;
  }
  .cardImage {
    width: 50%;
    height: 100%;
    margin-top: 0;
    background-color: violet;
  }
  .cardDescription {
    width: 50%;
  }
}
