.containerCards {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.card {
  width: 100%;
  height: 400px;
  background-color: red;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.contImage {
  width: 330px;
  height: 330px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.cardBody {
  padding: 1rem;
  background-color: rgb(13, 99, 238);
}

.name {
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}

@media screen and (min-width: 784px) {
  .containerCards {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
